<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Quiz</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <main>
        <% if (!locals.content){ %>
            <form id="myForm" method="get">
                <p id="p-form">Are you sure that you will know all your favourite songs? <br>
                    Let's check it out!</p>
                <input id="startQuiz" type="submit" value="Start quiz" formaction="/start-quiz">
            </form>
            <%} else if (locals.content && locals.correctAnswersArray){ %>
                <div id="quiz">
                    <% for (let i=0; i<10; i++){ %>
                        <div class="question">

                            <audio controls id="soundNr<%= i %>">
                                <source src=<%=content.items[correctAnswersArray[i]].preview_url %> type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <hr>
                            <div class="answers">
                                <% for (let j=0; j<4; j++){ %>
                                    <div class="answer answer<%= i %> answer-hover" onclick="checkAnswer(this)" <% if
                                        (correctAnswersArray[i]==allAnswersArray[i][j]) { %>
                                        data-correct-answer="<%= i %>" <% } %>
                                                data-question-number="<%= i %>"
                                                    id="<%= content.items[allAnswersArray[i][j]].id %>
                                                        <%= i %>">
                                                            <%= content.items[allAnswersArray[i][j]].name %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
                            <div id="scoreDiv"></div>
                </div>
                <% } else { %>
                    <div id="login-page">
                        <a href="http://localhost:3000/" id="a-login-page">Go to login page</a>
                    </div>
                    <% } %>
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <div class="close"><span>&times;</span></div>
                                <p id="score">Score</p>
                                <p id="score"><a href="/start-quiz?" id="a-modal">Play again</a></p>
                            </div>
                        </div>
    </main>
    <script src="functions.js"></script>
</body>

</html>